<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"{{theme_slug}}/hero"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"{{theme_slug}}/query-posts-grid"} /-->

	<!-- wp:pattern {"slug":"{{theme_slug}}/features"} /-->

	<!-- wp:pattern {"slug":"{{theme_slug}}/testimonials"} /-->

	<!-- wp:pattern {"slug":"{{theme_slug}}/call-to-action"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
